body {
    font-family: Arial;
}

p {
    font-size: 20px;
}

.input-pickup {
    display: block;
    margin-top: 5px;
    border: none;
    background-color: rgb(245, 240, 240);
    padding: 9px 12px;
    font-size: 8px;
    width: 170px;
}

.input-destination {
    display: block;
    margin-top: 5px;
    border: none;
    background-color: rgb(245, 240, 240);
    padding: 9px 12px;
    font-size: 8px;
    width: 170px;
    margin-bottom: 20px;
}

.request-button {
    padding: 7px 10px;
    font-size: 9px;
    border: none;
    background-color: black;
    color: white;
    margin-right: 6px;
}

.schedule-button {
    padding: 7px 10px;
    font-size: 9px;
    border: none;
}