p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
  }

.container {
    width: 150px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
    display:inline-block;
    margin-right: 20px;
    height: 250px;
}


.image {
    width: 150px;
    height: 160px;
    object-fit: cover;
}

.name {
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.mutual-friends {
    font-size: 10px;
    color: gray;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
}

.add-friend-button {
    border-radius: 4px;
    margin-left: 10px;
    border: none;
    color: white;
    font-size: 12px;
    padding: 6px 10px;
    background-color: rgb(53, 119, 240);
    transition: background-color 0.3s ease-in-out;
}

.add-friend-button:hover {
    background-color: rgb(8, 52, 133);
}

.zhin-image {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

.mutual-friends-container {
    margin-left: 8px;
    margin-bottom: 7px;
}