body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    width: 270px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

.font-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
}

.description {
    font-size: 15px;
}

.touchless-delivery {
    text-decoration: underline;
}