.uber-button {
    background-color: black;
    border: none;
    color: white;
    height: 40px;
    width: 110px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.uber-button:hover {
    opacity: 0.8;
}