.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div1{
    background-color: pink;
    width: 50px;
}

.div2{
    background-color: pink;
    width: 50px;
}

.div3{
    background-color: pink;
    width: 50px;
}
.div4{
    background-color: pink;
    width: 50px;
}