body {
    padding-bottom: 1000px;
}
.div1{
    background-color: lightblue;
}
.div2{
    background-color: lightpink;
}

.container1{
    display: flex;
    flex-direction: row;
    
}

.div3{
    background-color: lightblue;
    width: 100px;
}
.div4{
    background-color: lightpink;
    flex: 1;
}

.container2{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.div5{
    background-color: lightblue;
    width: 100px;
}
.div6{
    background-color: lightgreen;
    flex: 1;
}
.div7{
    background-color: lightpink;
    flex: 2;
}

.container3{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.div8{
    background-color: lightblue;
    width: 100px;
}
.div9{
    background-color: lightgreen;
    width: 100px;
}
.div10{
    background-color: lightpink;
    width: 100px;
}

.container4{
    justify-content:center;
    height: 70px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.div11{
    background-color: lightblue;
    width: 100px;
}
.div12{
    background-color: lightgreen;
    width: 100px;
}
.div13{
    background-color: lightpink;
    width: 100px;
}

.container5{
    justify-content:space-between;
    height: 70px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.div14{
    background-color: lightblue;
    width: 100px;
}
.div15{
    background-color: lightgreen;
    width: 100px;
}
.div16{
    background-color: lightpink;
    width: 100px;
}

.container6{
    justify-content:space-between;
    align-items: center;
    height: 70px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}