.container {
    text-align: center;
}
.logo-google {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.input-text {
        width: 600px;
        border: none;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
        border-radius: 20px;
        border-color: gray;
        border-width: 1px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
        margin-bottom: 30px;
 }

 .lucky-button {
    padding: 10px 16px;
    border: none;
 }

 .search-button {
    padding: 10px 16px;
    border: none;
    margin-right: 15px;
 }